
<div class="container" style="margin-top: 30px;">
<div class="card" style="padding: 10px; backgroundColor:orange; border-radius: 10px; margin-bottom: 20px;">
    <h3 style="margin-bottom: 30px;">Saisie des constantes</h3>

  <div>
    <label>A = <input id="a" class="col" type="text" placeholder="a" [(ngModel)]="a" style="border-radius: 10px;">
    </label>
    <label style="margin-left: 10px;">B = <input class="col" type="text" placeholder="b" [(ngModel)]="b" style="border-radius: 10px;">
    </label>
    <label style="margin-left: 10px;">C = <input class="col" type="text" placeholder="c" [(ngModel)]="c"  style="border-radius: 10px;">
    </label>
  </div>
  <div style="width: 500px; margin: 20px 0px 20px 0px; padding: 10px;">
    <h3>Polynôme saisi : (<span style="color: red;">{{a}}</span>)x² + 
      (<span style="color: red;">{{b}}</span>)x + 
      (<span style="color: red;">{{c}}</span>))</h3>
    <h4 style="margin-top: 20px;">Delta : {{delta}}</h4>
    <h4 *ngIf="delta === 0">Solution : X0 = {{x1}}</h4>
    <h4 *ngIf="delta > 0">Solutions : X1 = {{x1}} et X2 = {{x2}}</h4>
  </div>

  <h1 style="color: white; margin-bottom: 20px;" *ngIf="delta < 0">La résolution avec les nombres complexes arrivent prochainement.</h1>
  <div *ngIf="isShowSolution">
      <h3 *ngIf="delta > 0"> Calcul de Delta => {{b}}² - 4x{{a}}x{{c}} = {{delta}}
          Calcul des racines :
                                x1 => -{{b}} - sqrt{{delta}} / 2x{{a}} = {{x1}}
                                x2 => -{{b}} + sqrt{{delta}} / 2x{{a}} = {{x2}}
      </h3>
      <h3 *ngIf="delta === 0"> Calcul de Delta => {{b}}² - 4x{{a}}x{{c}} = {{delta}}
        Calcul des racines :
                              x0 => -{{b}} / 2x{{a}} = {{x1}}
      </h3>
  </div>=)
  
</div>
<button class="btn btn-primary" (click)="getSolution()" [disabled]="error()">Obtenir les solutions</button>
  <button class="btn btn-success" style="margin-left: 20px;" (click)="isShowSolution = !isShowSolution">Cliquez pour voir la résolution</button>
  
</div>

