<h1 style="text-align: center;">Template-Driven Forms</h1>
<div class="container">
  <!-- Définition du formulaire à utiliser et de la méthode de soumission -->
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="col-12">
      <!-- Définition de l'input du formulaire avec formControlName -->
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="jacques" formControlName="username">
      <span *ngIf="showErrorsforUsername()" style="color: red;">Username required</span>
    </div>
    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="jacques@gmail.com" formControlName="email">
    </div>
    <div class="col-12" *ngFor="let gender of genders">
      <label><input type="radio" [value]="gender" formControlName="gender"><span style="margin-left: 10px;">{{gender}}</span></label>
    </div>
  
    <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Submit</button>
    
  </form>
  
</div>

